// Mixins in here

.font-weight(){
    font-weight: bold;
}

.buttonstyles(){
    background-color: @eastern-blue;
    color: @main-bg;
    border-radius: 10px; 
    font-weight: bold;
    width: 100%;
    height: 5.8vh;
    font-size: 1.8rem;
    // margin-left: 8.5%;
}

.hovereffect(){
    &:hover{
            color: red;
        

    }
}