// Navigation Styles here

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  
    width: 100%;
    border-bottom: dashed 2px @silver;
    h1 {
        margin-right: 30%;
        .boldstyle();
    }
    
    div.links{
        display: flex;
        flex-direction: row;
        width: 30%;
        a {
            color: @shark;
            text-decoration: none;
            font-weight: bold;
            padding-right: 5%;
            padding-top: 5%;
            font-size: 1.2rem;
            
            
          
        }//this closes a element

    }//this closes div.links class
    
    
    
}//this closes nav